@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

@import "reset.css";

/* Components */
@import "header.css";
/* @import "footer.css"; */

:root {
  --main-blue-color: #1572a1;
  --sub-blue-color: #9ad0ec;
  --sub-pink-color: #efdad7;
  --main-pink-color: #e3bec6;
}

body {
  font-size: 1rem;
  color: #2e363e;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

h1 {
  font-family: "Merriweather", serif;
}

video {
  display: block;
  width: 100%;
}

img {
  width: 100%;
  display: block;
}

.about,
.works,
.contact {
  background: #fff;
  padding: 10rem 0;
}

/* ========== home ========== */
.home {
  width: 100%;
  height: 100vh;
  background: linear-gradient(-45deg, #1572a1, #9ad0ec, #efdad7, #e3bec6);
  background-size: 400% 400%;
  position: relative;
  animation: change 10s ease-in-out infinite;
}

@keyframes change {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

.home .home_title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}
.home_title h1 {
  font-size: 6rem;
  margin-bottom: 3rem;
}
.home_title h2 {
  font-size: 3rem;
  margin-bottom: 5rem;
}
.home_title a {
  font-size: 1rem;
  padding: 1rem 1.5rem;
  border: 1px solid #fff;
  transition: 0.3s;
}
.home_title a:hover {
  background: rgba(0, 0, 0, 0.5);
}
.home_title a:hover i {
  transform: translateX(0.3rem);
}

/* ========== ABOUT ========== */
.about {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  gap: 2rem;
}
.about h1 {
  margin-bottom: 2rem;
  font-size: 3rem;
  text-transform: capitalize;
}
.about_me {
  width: 50%;
}
.about_me p {
  text-align: left;
  padding: 4rem;
  width: 60%;
  margin: 0 auto;
  line-height: 2rem;
  border-radius: 1rem;
  background: linear-gradient(#f0e7e6, #e3bec6);
}
.my_skills {
  width: 50%;
  background: cyan;
}

/* ========== WORKS ========== */
.works {
  width: 100%;
  background: navy;
}
.works .cocktailer {
  width: 80%;
  margin: 0 auto;
  background: navajowhite;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cocktailer a {
  width: 50%;
}
.cocktailer .work_title {
  width: 50%;
}

/* ========== CONTACT ========== */
.contact {
  width: 100%;
  background: beige;
}
