@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

@import "reset.css";

/* Components */
@import "header.css";
/* @import "footer.css"; */

:root {
  --main-blue-color: #1572a1;
  --sub-blue-color: #9ad0ec;
  --sub-pink-color: #efdad7;
  --main-pink-color: #e3bec6;
}

body {
  font-size: 1rem;
  color: #2e363e;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

h1 {
  font-family: "Merriweather", serif;
}

img {
  width: 100%;
  display: block;
}

.about,
.works,
.contact {
  background: #fff;
  padding: 10rem 0;
}

/* ========== home ========== */
.home {
  width: 100%;
  height: 100vh;
  background: linear-gradient(-45deg, #1572a1, #9ad0ec, #efdad7, #e3bec6);
  background-size: 400% 400%;
  position: relative;
  animation: change 10s ease-in-out infinite;
}

@keyframes change {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

.home .home_title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}
.home_title h1 {
  font-size: 5.3rem;
  margin-bottom: 3rem;
}
.home_title h2 {
  font-size: 3rem;
  margin-bottom: 3.5rem;
}
.home_title a {
  display: inline-block;
  font-size: 1rem;
  padding: 1rem 1.5rem;
  border: 1px solid #fff;
  transition: 0.3s;
}
.home_title a:hover {
  background: rgba(0, 0, 0, 0.5);
}
.home_title a:hover i {
  transform: translateX(0.3rem);
}

/* ========== ABOUT ========== */
.about {
  width: 100%;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: flex-start;
  background: #f2f2f2;
}
.about h1 {
  margin-bottom: 3rem;
  font-size: 3rem;
  text-transform: capitalize;
}

.about_me p {
  text-align: left;
  padding: 4rem;
  width: 60%;
  height: 280px;
  margin: 0 auto;
  line-height: 2rem;
  border-radius: 1rem;
  background: linear-gradient(#f0e7e6, #e3bec6);
}

.bar_wrap {
  max-width: 75%;
  margin-left: 12.5%;
}

.skills_bar {
  letter-spacing: 1px;
  font-size: 14px;
  position: relative;
  display: inline-block;
  margin-bottom: 1.5rem;
  width: 100%;
}
.skills_bar h3 {
  font-weight: bold;
}
.skills_bar .thumb {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 11px;
  background-color: #888;
  border-radius: 60px;
  margin-top: 20px;
}
.skills_bar span {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  background: linear-gradient(
    to left,
    var(--main-blue-color),
    var(--main-pink-color)
  );
  border-radius: 50px;
}
.skills_bar:nth-child(1) span {
  width: 95%;
}
.skills_bar:nth-child(2) span {
  width: 90%;
}
.skills_bar:nth-child(3) span {
  width: 65%;
}
.skills_bar:nth-child(4) span {
  width: 70%;
}
.skills_bar:nth-child(5) span {
  width: 65%;
}
.skills_bar:nth-child(6) span {
  width: 65%;
}
.skills_bar abbr {
  font-weight: normal;
  font-size: 12px;
  text-decoration: none;
  width: 40px;
  display: inline-block;
  height: 26px;
  text-align: center;
  line-height: 26px;
  position: absolute;
  top: 25px;
  margin-left: -15px;
  border-radius: 15px;
  z-index: 1;
  color: #fff;
  background: linear-gradient(-45deg, rgb(209, 209, 209), #555);
}
.skills_bar:nth-child(1) abbr {
  left: 95%;
}
.skills_bar:nth-child(2) abbr {
  left: 90%;
}
.skills_bar:nth-child(3) abbr {
  left: 65%;
}
.skills_bar:nth-child(4) abbr {
  left: 70%;
}
.skills_bar:nth-child(5) abbr {
  left: 65%;
}
.skills_bar:nth-child(6) abbr {
  left: 65%;
}

/* ========== WORKS ========== */
.works {
  width: 100%;
  background: linear-gradient(-45deg, #1572a1, #9ad0ec, #efdad7, #e3bec6);
}
.works h1 {
  margin-bottom: 5rem;
  font-size: 3rem;
  text-transform: capitalize;
  text-align: center;
}

.work_card {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  margin-bottom: 5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background: #f2f2f2;
}
.work_card a {
  position: relative;

}
.work_card a:hover  .work_card_content { opacity: 1;}
.work_card_content {
  transition: .3s ease-in;
  opacity: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
}
.work_card_content p {
  padding-top: 20%;
  padding-bottom: 20%;
  text-align: center;
  line-height: 2.3rem;
  color: #888;
}
.work_title {
  padding: 20% 0 0 3rem;
}
.work_title h3 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 2rem;
}
.work_title p {
  margin-bottom: 2.2rem;
  color: #888;
}
.work_title a {
  display: inline-block;
  padding: 0.5rem 1rem;
  border: 1px solid #888;
  border-radius: 7px;
  color: #888;
}
.work_title a:hover {
  background: #888;
  color: #fff;
}
/* ========== CONTACT ========== */
.contact {
  width: 100%;
  background: #f2f2f2;
  text-align: center;
}
.contact > i {
  margin-bottom: 3rem;
  font-size: 5rem;
  color: #ffe162;
}
.contact h2 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 2.5rem;
}
.contact > p {
  font-size: 1.2rem;
  margin-bottom: 5rem;
}
.contact_wrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0 10%;
  gap: 2rem;
}
.contact_card {
  padding: 5rem 0;
  background: linear-gradient(-45deg, #9ad0ec, #efdad7, #e3bec6);
  border-radius: 5px;
}
.contact_card i {
  font-size: 2.8rem;
  margin-bottom: 2rem;
}
.contact_card h3 {
  margin-bottom: 1.8rem;
  font-size: 1.1rem;
  text-transform: uppercase;
}
.contact_card span {
  display: inline-block;
  width: 25%;
  height: 4px;
  margin-bottom: 1.8rem;
  background: #888;
}
.contact_card p {
  color: #666;
}


/* ========== 반응형 ========== */
@media screen and (max-width: 1024px) {
  .home_title h1 {
    font-size: 3.5rem;
  }
  .home_title h2 {
    font-size: 2.5rem;
  }
  .work_title {
    padding: 1.5rem;
  }
  .work_title h3 {
    margin-bottom: 1.5rem;
  }
  .work_title p {
    font-size: .9rem;
    margin-bottom: 1.7 rem;
  }
  .work_card_content p {
    padding-top: 15%;
    font-size: .8rem;
}

@media screen and (max-width: 768px) {
  .about,
  .works,
  .contact {
    padding: 6rem 0;
  }
  .home_title h1 {
    font-size: 3.4rem;
  }
  .home_title h2 {
    font-size: 2rem;
  }
  .home_title a {
    padding: 0.8rem 1rem;
    font-size: 0.8rem;
  }
  .about {
    display: block;
  }
  .about_me {
    margin-bottom: 8rem;
  }
  .about_me p {
    height: 280px;
  }
  .work_card {
    display: flex;
    flex-direction: column;
  }
  .work_title {
    padding: 3rem 0;
    text-align: center;
  }
  .work_card_content p {
    padding-top: 20%;
    font-size: .9rem;
}
  .northe {
    flex-flow: column-reverse;
  }
  .contact_wrap {
    padding: 0 5%;
    gap: 1rem;
  }
  .contact_card h3 {
    font-size: 1rem;
  }
  .contact_card p {
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 430px) {
  .about,
  .works,
  .contact {
    padding: 4rem 0;
  }
  .home_title h1 {
    font-size: 3rem;
  }
  .home_title h2 {
    font-size: 1.5rem;
  }
  .about h1 {
    font-size: 2rem;
  }
  .about_me p {
    padding: 2rem;
    height: 350px;
  }
  .works h1 {
    font-size: 2rem;
    margin-bottom: 2.5rem;
  }
  .work_card {
    width: 90%;
  }
  .work_card_content p {
    font-size: .6rem;
    padding-top: 15%;
}
  .work_title h3 {
    font-size: 1.8rem;
  }
  .work_title a {
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
  }
  .work_title p {
    width: 85%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 2.5rem;
  }
  .contact h2 {
    font-size: 1.6rem;
  }
  .contact > p {
    font-size: 1rem;
  }
  .contact_wrap {
    display: flex;
    flex-direction: column;
  }
  .contact_card {
    padding: 3rem 0;
  }
}
